<h3>Pragmatic Registration Packet Shipped</h3>
<p>
  This is just to let you know that we've shipped your packet:
</p>
<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @registration.reg_lines %>
</table>