<h3>Verteo Profile Confirmation</h3>
<p>
  This is just to let you know that we've created your profile:
</p>
<table>
<tr><td>You can request information, register for events or request product samples</td></tr>
</table>

